<html>
    <head>
        <title>ABOUT US</title>
        <link rel ="stylesheet" href="/public/webpage.css">
    </head>
    <body>
        <header class="founder-header">
            <p>Online Blood Bank</p>
            <p style="font-size: 25px;font-weight: bold; margin: 0;">Started on November 9, 2019</p>
            <a href="/views/webpage.ejs" style="position: absolute; top: 500px; right: 850px; background-color: #444; color: white;"> BACK </a>
        </header>
    
        <section>
            <p style="font-size: 25px;font-weight: bold; margin: 0;">ABOUT US</p>
            <P><strong>ONLINE BLOOD BANK</strong> was founded by K.Arun (SUB-INSPECTOR OF POLICE). In the year 2019 on nov 9th</P>
            <p>Basically this Online Blood Bank was started from one Whaths App Group now we are maintaining almost 56-60 Whaths App Group's</s></p>
            <p>From Our Organization We are not only Organizing Blood but we are doing many other services like Food Donation, blanket Distribution etc..</p>
        </section>
        <footer class="site-footer">
            <div class="footer-content">
                <p>&copy; 2024 Online Blood Bank. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>
