<html>
    <head>
        <title>FOUNDER</title>
        <link rel ="stylesheet" href="/public/webpage.css">
    </head>
        <header class="founder-header">
            <p>Online Blood Bank</p>
            <p style="font-size: 25px;font-weight: bold; margin: 0;">Founder & CO-Founder</p>
        </header>
        <body>
            <a href="/views/webpage.ejs" style="position: absolute; top: 200px; left: 100px; background-color: #444; color: white;"> BACK </a>
            <div class="founders">
                <div class="founder">
                    <img src="/Arun img.jpg" alt="Founder 1">
                    <p>K.Arun</p>
                    <P>(Sub Inspector Of Police)</P>
                    <p>Founder</p>
                </div>
                <div class="founder">
                    <img src="/Ameen Img.jpg" alt="Founder 2">
                    <p>Ameen</p>
                    <p>CO-Founder</p>
                </div>
                <div class="founder">
                    <img src="/Chaitanya img.jpg" alt="Founder 2">
                    <p>B. Chaitanya Nayak</p>
                    <p>CO-Founder</p>
            </div>
        </body>
    </body>
</html>
