<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/public/webpage.css">
    <title>Online Blood Bank Services</title>
</head>
<body>
    <section class="services">
        <form action="service.ejs" method="post"></form>
        <div class="service">
            <img src="donation.jpg" alt="Blood Donation">
            <h3>Blood Donation</h3>
            <p>Donate blood and save lives.</p>
        </div>
        <div class="service">
            <img src="testing.jpg" alt="Blood Testing">
            <h3>Blood Testing</h3>
            <p>Ensure the safety and compatibility of donated blood.</p>
        </div>
    </section>
</body>
</html>